:root {
    --styled-font: 'BluebirdRegular';
}

body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1;
}

#sideimage {
    background-image: url(deskplant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    width: 500px;
}

.logo-txt {
    font-family: var(--styled-font);
    color: rgb(94, 233, 60);
    background-color: rgba(39, 49, 9, 0.4);
    text-align: center;
    margin-top: 25vh;
    font-size: 46px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex: 1;
}

#introduction {
    background-color: rgb(221, 255, 205);
    font-size: 1.5rem;
    padding: 3rem 4rem 1rem 4rem;
    font-family: var(--styled-font);
}

#signup {
    background-color: rgb(0, 71, 71);
    color: rgb(109, 255, 170);
}

.desperate {
    font-size: 1.5rem;
    text-align: center;
    padding: 5% 10% 0 10%;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    margin: 10px 50px 50px;
}

#input-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.input {
    flex: 0 0 200px;
    margin: 1rem;
}

input, select {
    width: 185px;
    height: 25px;
    font-size: 18px;
}

#submit {

    margin: 20px auto;
    padding: 10px;
    background-color: rgb(109,255,170);
    font-weight: 600;
}

.got-act {
    text-align: center;
    padding-bottom: 20px;
}

a {
    color: rgb(109, 255, 170);
}
